<ion-view view-title="Selecciona la Busqueda">
	<ion-content>
		<div class="row">
	  		<div class="col">
	  			<center>
	  				<img class="iconArt" src="../img/artista.png">
	  				<p>Artista</p>
	  			</center>
	  		</div>
	  		<div class="col">
	  			<center>
	  				<img class="iconArt" src="../img/band.png">
	  				<p>Banda</p>
	  			</center>
	  		</div>
		</div>
		<div class="row">
	  		<div class="col">.
	  			<center>
	  				<img class="iconArt iconGen" src="../img/genero.png">
	  				<p>Género</p>
	  			</center>
	  		</div>
	  		<div class="col">
	  			<center>
	  				<img class="iconArt iconNom" src="../img/nombre.png">
	  				<p>Nombre</p>
	  			</center>
	  		</div>
		</div>
		<div class="row">
	  		<div class="col">
	  			<center>
	  				<img class="iconArt" src="../img/localidad.png">
	  				<p>Localidad</p>
	  			</center>
	  		</div>
	  		<div class="col">
	  			<center>
	  				<img class="iconArt" src="../img/fecha.png">
	  				<p>Fecha</p>
	  			</center>
	  		</div>
		</div>
	</ion-content>
</ion-view>
