<ion-view view-title="Configuraciones">
  <ion-content>
     <div class="col" ng-hide="user.email">
        <button class="button button-block button-positive" ng-click="login()">
          Ingresar
        </button>
    </div>

    <ion-list  ng-hide="!user.email">
      <ion-item class="item item-divider">
        
      </ion-item>
      <a href="#/ciudadjoven/configuraciones/configuraciones_usuario">
         <ion-item class="item-icon-right">
        Usuario
        <span class="icon ion-chevron-right flecha"></span>
      </ion-item>
      </a>
     
      <ion-item class="item item-divider">
       
      </ion-item>
      <ion-toggle ng-model="user.alerts" toggle-class="toggle-calm" id="toggleTam" >
        Alertas
      </ion-toggle>
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Alerta faltando: </span>
          <input ng-disabled="!user.alerts"type="time">
        </label>
        </ion-list>
    </ion-list>
  </ion-content>
</ion-view>