<ion-view view-title="Configuraciones">
  <ion-content>
    <ion-list>
      <ion-item class="item item-divider">
        
      </ion-item>
      <ion-item class="item-icon-right">
        Usuario
        <span class="icon ion-chevron-right flecha"></span>
      </ion-item>
      <ion-item class="item item-divider">
       
      </ion-item>
      <ion-toggle ng-model="activarAlert" toggle-class="toggle-calm" id="toggleTam" >
        Alertas
      </ion-toggle>
      <ion-list>
            <ion-item class="item tamanoItem">
              <p class="etiqueta">Día</p>
              <input ng-disabled="!activarAlert" id="contador" type="number" min="1" max="31">
            </ion-item>
            <ion-item class="item tamanoItemDos">
              <p>Hora</p>
              <input ng-disabled="!activarAlert" id="contador" type="number" min="1" max="31">
            </ion-item>
            <ion-item class="item tamanoItemDos">
              <p>Minutos</p>
              <input ng-disabled="!activarAlert" id="contador" type="number" min="1" max="31">
            </ion-item>
        </ion-list>
    </ion-list>
  </ion-content>
</ion-view>