<ion-view view-title="Datos Personales">
	<ion-content>
	<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Nombre</span>
    <input type="text" placeholder="Ingrese su nombre" value="{{user.firstname}}">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Apellidos</span>
    <input type="text" placeholder="Ingrese sus apellidos" value="{{user.flastname}} {{user.llastname}}">
  </label>
    
  <label class="item item-input item-stacked-label">
    <span class="input-label">Edad</span>
    <input type="text" placeholder="Ingrese su edad">
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Contrasena</span>
    <input type="password" type="text" placeholder="Ingrese su contrasena" value="{{user.password}}">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Sexo
    </div>
    <select>
      <option selected>Masculino</option>
      <option >Femenino</option>
      <option>Otro</option>
    </select>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">E-mail</span>
    <input type="text" placeholder="No cambie el correo" value="{{user.email}}">
  </label>
</div>
<center>
	<button class="button button-positive">
		Guardar
</button>

</center>
	</ion-content>
</ion-view>


	
