<ion-view view-title="Configuraciones">
  <ion-content>
    <ion-list>
      <ion-item class="item item-divider">
        Datos Personales
      </ion-item>
      <ion-item class="item-icon-right">
        Usuario
        <span class="icon ion-chevron-right flecha"></span>
      </ion-item>
      <ion-item class="item item-divider">
        Alertas
      </ion-item>
      <ion-toggle ng-model="checked" toggle-class="toggle-calm" id="toggleTam" >
          OFF
      </ion-toggle>
      <ion-list>
            <ion-item class="item tamanoItem">
              Día
              <input class="input-label posicionContador" type="number">
            </ion-item>
            <ion-item class="item tamanoItemDos">
              Hora
              <input class="input-label" type="number">
            </ion-item>
            <ion-item class="item tamanoItemDos">
              Minutos
              <input class="input-label" type="number">
            </ion-item>
        </ion-list>
    </ion-list>
  </ion-content>
</ion-view>
      

<!--

          -->