  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

 <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<ion-view view-title="{{evento.name}}">
	<ion-content>
		<div class="row" >
  			<div class="col col-5">
  				 <img style="width: 100%"  src="{{evento.img}}">
  			</div>
  			<div class="col">
  			Nombre:
  			<br>
  				{{evento.name}}
  			<br>
  			<br>
  			Fecha:
  			<br>
  				{{evento.fecha}}
  			<br>
  			<br>
  			Lugar:
  			<br>
  				{{evento.lugar}}
          <a id="linkBol" href="" class="">Boletos Aquí</a>
  			</div>
  			
		</div>
		<div class="row">
  			<div class="col secEve2">
  				<center>
           <a href="https://twitter.com/share" class="twitter-share-button" data-text="Comparte Ciudad Joave" data-via="CiudadJoven" data-lang="es" data-size="large" data-hashtags="CiudadJoven"><i class="icon ion-social-twitter posicionIconRed"></i></a>
           
  				<a href="https://www.facebook.com/jonguer?=73322363">
              <i ng-click="" class="icon ion-social-facebook posicionIconRed"></i>
          </a>
           
        
         <a href="https://plus.google.com/share?url=http://localhost:8100/#/ciudadjoven/">
          <i ng-click="" class="icon ion-social-googleplus posicionIconRed"></i>
         </a>
  				
  				</center>
  			</div>
  			<div class="col secEve2">
  				<a class="button button-clear" ng-click="alert(none)">
            <i class="icon ion-android-calendar"></i>
            <strong> Agregar</strong>
           </a>
  			</div>
		</div>
		<div class="row responsive-sm" style="margin-left: 10px;width: 355px;">
			<p style="margin-left:3px;">Descripcion: </p>
    </div>
    <div class="row responsive-sm">
      <div class="col" id="secDesc">
       {{evento.descripcion}}
      </div>
    </div>

    <div class="row" style="100%">
      <div class="col" ng-hide="!user.email">

      <form>
        <p style="margin-left: 9px;">Crear Comentario:</p>
        <textarea ng-model="event.txtcomment" id="cajaComent" placeholder="Escribe comentario">
        </textarea>
        <center>
        <button id="botonComents" style="margin-top:3%" class="button button-small button-light activated" ng-click="createComment();">
          Comentar
        </button>
        </center>
        
      </form>
      </div>
      <div class="col" ng-hide="user.email">
        <button class="button button-block button-positive" ng-click="login()">
          Ingresar
        </button>
      </div>
    </div>
    <div class="row responsive-sm">
      <p style="margin-left: 14px;">Comentarios 
        <i id="flch" class="icon ion-chevron-down" ng-click="hiddenComments()"></i>
      </p>
    </div>
    <center>
      <div>
      <ul ng-show="hideComment" >
        <li id="comentarios" ng-repeat="com in comments track by $index">
          {usario.name}: 
          <a id="tache" href="" ng-click="remItem($index)">x</a>
          <br>
          {{com}}
        </li>
      </ul>
    </div>
    </center>
    
	</ion-content>
</ion-view>

