<ion-view view-title="Evento">
	<ion-content>
		<div class="row">
  			<div class="col col-50 secEve1 secEveImg">
  				 <img style="width: 100%;height: 100%;" src="../img/corona2015.jpg">
  			</div>
  			<div class="col secEve1 secEveInfo">
  			Nombre:
  			<br>
  				Vive Latino
  			<br>
  			<br>
  			Fecha:
  			<br>
  				20/Abril/15
  			<br>
  			<br>
  			Lugar:
  			<br>
  				Foro Sol
  			</div>
  			<a id="linkBol" href="">Boletos Aquí</a>
		</div>
		<div class="row">
  			<div class="col secEve2">
  				<center>
  					<i class="icon ion-social-twitter posicionIconRed"></i>
  					<i class="icon ion-social-facebook posicionIconRed"></i>
  					<i class="icon ion-social-googleplus posicionIconRed"></i>
  				</center>
  			</div>
  			<div class="col secEve2">
  				<i id="agregar" class="icon ion-ios-calendar-outline"><strong> Agregar</strong></i>
  			</div>
		</div>
		<div class="row responsive-sm" style="margin-left: 10px;width: 355px;">
			<p>Descripcion: </p>
			<div class="col" id="secDesc">
			kwvefliwhvfphjWVÑJHWVJHFVWJHFVWJHFVJWHVFJHWVFJHWVFRJHWVHVWR
			UEGFWJEGFIKWEJFGKJ
			</div>
			<p>Comentarios <i class="icon ion-chevron-down"></i></p>
  			<div class="col" id="secComent">
  				Aquí van los comentarios :D
  			</div>
		</div>
	</ion-content>
</ion-view>