<ion-view view-title="">
  <ion-content>
    <div class="row">
      <div class="col col-50 col-offset-50" ng-hide="user.email">
        <p class="fright">
          <a class="link" ng-click="register()">Registro</a>
        | <a class="link" ng-click="login()">Ingresar</a>
      </p>
      </div>
      <div class="col" ng-hide="!user.email">
        <p class="fright">
          {{user.email}} | <a class="link" ng-click="logout()">Cerrar sesion</a>
        </p>
    </div>
    </div>
    <div class="row">
      <div class="col">
        <center>
          <h1 id="titulo">Ciudad Joven</h1> 
        <img class="logo" src="img/iconoCJ.svg"> 
        </center>
      </div>
    </div>
  </ion-content>
</ion-view>

