<ion-view view-title="">
  <ion-content>
    <div class="row">
      <div class="col col-50 col-offset-50" ng-hide="user.email">
        <p class="fright">
          <a class="link" ng-click="register()">Registro</a>
        | <a class="link" ng-click="login()">Ingresar</a>
      </p>
      </div>
      <div class="col" ng-hide="!user.email">
        <p class="fright">
          {{user.email}} | <a class="link" ng-click="logout()">Cerrar sesion</a>
        </p>
    </div>
    </div>
    <div class="row">
      <div class="col" ng-hide="user.email">
        <center>
          <h1 class="titulo">Ciudad Joven</h1> 
        <img class="logo" src="img/iconoCJ.svg"> 
        </center>
      </div>
      <div class="col" ng-hide="!user.email">
        <h1 class="titulo">Mis eventos</h1>
          <ion-list class="Eventos">
            <ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="evento in user.events track by $index" href="#/ciudadjoven/miseventos/{{evento.id}}">
              <img style="width: 56px;height: 80px;margin-left: 15px;" src="{{evento.img}}">
              <p style="margin-top: 34px; color: #00ADEF"><strong>{{evento.name}}</strong></p>
              <span class="icon ion-chevron-right flecha"></span>
            </ion-item>
          </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>

