<ion-view view-title="">
  <ion-content>
    <div class="row">
      <div class="col col-50 col-offset-50">
        <p class="fright">
          <a class="link" ng-click="register()">Registro</a>
        | <a class="link" ng-click="login()">Ingresar</a>
      </p>
      </div> 
    </div>
    <div class="row">
      <div class="col">
        <h1 id="titulo">Ciudad Joven</h1> 
      </div>
    </div>
    <div class="row">
      <div class="col col-90">
        <img class="logo" src="img/iconoCJ.svg">
      </div>
    </div>
  </ion-content>
</ion-view>

