<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
  <body>
    <ion-view view-title="Eventos">
      <div class="content has-header padding">
        <div class="list">
            <a class="item item-thumbnail-left" href="#">
              <img src="img/license-to-ill.jpg">
                <h2>Beastie Boys</h2>
                <p>License To |||</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="img/license-to-ill.jpg">
                <h2>Beastie Boys</h2>
                <p>License To |||</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="img/license-to-ill.jpg">
              <h2>Beastie Boys</h2>
              <p>License To |||</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="img/license-to-ill.jpg">
                <h2>Beastie Boys</h2>
                <p>License To |||</p>
            </a>
            <a class="item item-thumbnail-left" href="#">
              <img src="img/license-to-ill.jpg">
              <h2>Beastie Boys</h2>
              <p>License To |||</p>
            </a>
        </div>
      </div>
    </ion-view>
  </body>
</html>



