<ion-view view-title="Busqueda por artista">
	<ion-content>
		<label class="item item-input">
 		 <i class="icon ion-search placeholder-icon"></i>
  		<input type="search" placeholder="Busqueda por artista" ng-model="query">
		</label>
      <ion-list class="Eventos">
      <ion-item class="item item-thumbnail-left item-icon-right" ng-repeat="evento in eventos | filter:query" href="#/ciudadjoven/busquedas/{{evento.id}}">
        <img style="width: 56px;height: 80px;margin-left: 15px;" src="{{evento.img}}">
        <p style="margin-top: 34px; color: #00ADEF"><strong>{{evento.name}}</strong></p>
        <span class="icon ion-chevron-right flecha"></span>
      </ion-item>
    </ion-list>
	</ion-content>
</ion-view>


	