<ion-view view-title="Selecciona la Busqueda">
	<ion-content>
		<div class="row" style="margin-top: 25%; margin-left: 0px;">
			<ion-item class="col secBus">
				<a href="#/ciudadjoven/artista">
					<center>
	  					<img id="iconArt" src="img/artista.png">
	  					<h1 class="categoriasD" >Artista</h1>
	  				</center>
				</a>
	  		</ion-item>
	
	  		<ion-item class="col secBus">
	  			<a href="#/ciudadjoven/banda">
	  				<center>
	  					<img id="iconBand" src="img/band.png">
	  					<h1 class="categorias">Banda</h1>
	  				</center>
	  			</a>
	  		</ion-item>
		</div>
	
		<div class="row" style="margin-left: 0px;">
	  		<ion-item class="col secBus">
	  			<a href="#/ciudadjoven/genero">
	  				<center>
	  					<img id="iconGen" src="img/genero.png">
	  					<h1 class="categoriasD">Género</h1>
	  				</center>
	  			</a>
	  		</ion-item>
	  		<ion-item class="col secBus">
	  			<a href="#/ciudadjoven/nombre">
	  				<center>
	  					<img id="iconNom" src="img/nombre.png">
	  					<h1 class="categoriasD">Nombre</h1>
	  				</center>
	  			</a>
	  	</div>
		<div class="row" style="margin-left: 0px;">
			<ion-item class="col secBus">
 				<a href="#/ciudadjoven/localidad">
  					<center>
	  					<img id="iconLoc" src="img/localidad.png">
	  					<h1 class="categoriasD">Localidad</h1>
	  				</center>
	  			</a>
	  		</ion-item>
	  		<div class="col secBus">
	  			<a href="#/ciudadjoven/fecha">
	  				<center>
		  				<img class="iconArt iconFec" src="img/fecha.png">
		  				<h1 class="categorias">Fecha</h1>
	  				</center>
	  			</a>	
	  		</div>
		</div>
	</ion-content>
</ion-view>