<ion-view view-title="Selecciona la Busqueda">
	<ion-content>
		<div class="row">
			<ion-item href ="#/ciudadjoven/artista" class="col button button-block button-dark">
	  			
	  				<img id="iconArt" src="../img/artista.png">
	  			<p>Artista</p>
	  
		    </ion-item>
		    <ion-item href ="#/ciudadjoven/banda" class="col button button-block button-dark" >
	  			
	  				<img id="iconBand" src="../img/band.png">
	  				<p style="margin-top:-7px">Banda</p>
	  			
	  		</ion-item>
		</div>
		<div class="row responsive-sm" >
	  		<ion-item href ="#/ciudadjoven/genero" class="col button button-block button-dark" >
	  		
	  				<img id="iconGen" src="../img/genero.png">
	  				<p>Género</p>
	  			
	  		 </ion-item>
	  		<ion-item href ="#/ciudadjoven/nombre" class="col button button-block button-dark" >
	  				<img id="iconNom" src="../img/nombre.png">
	  				<p>Nombre</p>
	  		 </ion-item>	
		</div>
		<div class="row responsive-sm">
	  		<ion-item href ="#/ciudadjoven/localidad" class="col button button-block button-dark" >
	  				<img id="iconLoc" src="../img/localidad.png">
	  				<p>Localidad</p>
	  		 </ion-item>	
	  	<ion-item href ="#/ciudadjoven/fecha" class="col button button-block button-dark" >	
	  				<img class="iconArt iconFec" src="../img/fecha.png">
	  				<p>Fecha</p>
	  		 </ion-item>	
		</div>
	</ion-content>
</ion-view>
