<ion-view view-title="Selecciona la Busqueda">
	<ion-content>
		<div class="row ">
			<ion-item class="col secBus">
				<a href="#/ciudadjoven/artista">
					<center>
	  					<img id="iconArt" src="../img/artista.png">
	  					<p>Artista</p>
	  				</center>
				</a>
	  		</ion-item>
	
	  		<ion-item class="col secBus">
	  			<a href="#/ciudadjoven/banda">
	  				<center>
	  					<img id="iconBand" src="../img/band.png">
	  					<p style="margin-top:-7px">Banda</p>
	  				</center>
	  			</a>
	  		</ion-item>
		</div>
	
		<div class="row">
	  		<ion-item class="col secBus">
	  			<a href="#/ciudadjoven/genero">
	  				<center>
	  					<img id="iconGen" src="/img/genero.png">
	  					<p>Género</p>
	  				</center>
	  			</a>
	  		</ion-item>
	  		<ion-item class="col secBus">
	  			<a href="#/ciudadjoven/nombre">
	  				<center>
	  					<img id="iconNom" src="/img/nombre.png">
	  					<p>Nombre</p>
	  				</center>
	  			</a>
	  	</div>
		<div class="row">
			<ion-item class="col secBus">
 				<a href="#/ciudadjoven/localidad">
  					<center>
	  					<img id="iconLoc" src="/img/localidad.png">
	  					<p>Localidad</p>
	  				</center>
	  			</a>
	  		</ion-item>
	  		<div class="col secBus">
	  			<a href="#/ciudadjoven/fecha">
	  				<center>
		  				<img class="iconArt iconFec" src="/img/fecha.png">
		  				<p>Fecha</p>
	  				</center>
	  			</a>	
	  		</div>
		</div>
	</ion-content>
</ion-view>