/* Empty. Add your own CSS if you like */

.col{
	width: 50px;
	height: 100px;
	margin: 15px;
  	border-radius: 20px;
	background-color: #00ADEF;
}

.padding{
	padding: 0px;
}

#te{
	margin-top: 15%; 
	color: black;
}

.imagen{
	margin-top: 20px;
	width: 260px;
	height: 250px;
}

.row{
	margin-top: 20%;
}

.iconArt{
	width: 60px;
	height: 60px;
}

.iconGen{
	margin-top: -13px;
  	width: 50px;
  	height: 50px;
}

.iconNom{
	width: 50px;
	height: 50px;
	margin-top: 6px;
}